.autosuggest{
  *{
    box-sizing: border-box;
  }
  width: 200px;
  display: inline-block;
  &.multiple{
    width: 400px;
    .as-container{
      width: 120px;
    }
  }
  .as-container{
    width: 190px;
    display: inline-block;
    position: relative;
    .as-selected{
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.8em;
    }
    &>span{
      height: 100%;
      width: 100%;
      position: absolute;
      background: white;
      border: 1px solid #ddd;
      padding: 0 5px 0 10px;
      right: 0;
    }
    &>input{
      width: 100%;
      padding: 2px 5px;
    }
  }
  .hdn {
    display: none;
  }

  ul {
    &.selections, &.suggestions {
      list-style-type: none;
    }
  }

  .results {
    position: relative;
  }

  ul.suggestions {
    width: 100%;
    border: 1px solid #888;
    position: absolute;
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    z-index: 2;
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    &.result, &.no-results {
      margin: 0;
      padding: 5px 12px;
      border: solid 1px #c5c5c5;
    }
    &.result {
      cursor: pointer;
      &.hover, &.active, &.hover span, &.active span {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        outline: 0;
        background: #0081c2 linear-gradient(to bottom, #0088cc, #0077b3) repeat-x;
      }
    }
  }

  ul {
    &.selections {
      margin: 0;
      overflow: hidden;
      border: 1px solid #aaa;
      border-top-color: #888;
      border-bottom-color: #b6b6b6;
      padding: 2px 3px;
      background-color: #fff;
      box-shadow: inset 0 1px 2px #888;
      li {
        float: left;
        &.selection {
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          border-radius: 2px;
          padding: 2px 5px;
          margin: 2px 5px 2px 0;
          border: solid 1px #c5c5c5;
          background: #ededed none;
        }
      }
    }
    &.selection li.selection.blur {
      border: solid 1px #c5c5c5;
      background-color: #ededed;
    }
  }
}

.as-close {
  cursor: pointer;
  background: none;
  font-size: 1em;
  font-weight: bold;
  color: #777;
  margin: 0;
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 0;
}
